<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description"
            content="Samnivesha is the annual Technical fest of the Department of Civil and Environmental Engineering (DCEE) at IIT Patna.">
        <meta name="author" content="Samnivesha '22">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Samnivesha 2022 | The Annual Fest of Civil Engineering | IIT Patna | EVENTS</title>
        <!-- AOS  -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style-e.css">
        <link rel="stylesheet" href="css/navbar.css">

        <!-- google fonts -->

        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
            rel="stylesheet">

        <!-- font awesome kit -->

        <script src="https://kit.fontawesome.com/edb4e8128d.js" crossorigin="anonymous"></script>




    </head>

    <body>
        <!-- navbar -->
        <%- include("navbar") -%>
        <div class="lnr">
            <h1>EVENTS</h1>
           
        </div>
        <div class="lnr_1">
            <p>IT WILL BE UPDATED SOON!</p>
        </div>












        <!-- EVENTS SECTION -->
        <!-- <div class="event">
            <h1>EVENTS</h1>
        </div> -->
        <!-- event cards 1-3 -->
        <!-- <div class="cl"> -->
            <!-- card-1 -->
            <!-- <div class="cl-1 db-1" data-aos="flip-right">
                <a href="/event1">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div> -->

            <!-- card-2 -->
            <!-- <div class="cl-1 db-2" data-aos="flip-left">
                <a href="/event2">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div> -->
            <!-- card-3 -->
            <!-- <div class="cl-1 db-3" data-aos="flip-left">
                <a href="/event3">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div> -->

        <!-- </div>
        
        <div class="cl"> -->
            <!-- card-4 -->
            <!-- <div class="cl-1 db-4" data-aos="flip-left">
                <a href="/event4">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div> -->
            <!-- card-5 -->
            <!-- <div class="cl-1 db-5" data-aos="flip-right">
                <a href="/event5">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div> -->
            <!-- card-6 -->
            <!-- <div class="cl-1 db-6" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <a href="/event6">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div>
        </div> -->
        <!-- card -7 -->
        <!-- <div class="cl" >
            <div class="cl-1 db-7">
                <a href="/event7">
                    <div class="text">
                        <ul>

                            <li>
                                 lorem epsum
                            </li>
                        </ul>

                    </div>
                </a>

            </div>
        </div> -->
        <%-include("footer")-%>
        <!-- our AOS used -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
                offset: 200,
                duration: 1000,
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
        <script src="js/navbar.js"></script>


    </body>

</html>