<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style3.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>

<body>


    <!-- <footer class="footer-distributed" style="background-color: black;">
        <div class="col-xs-6 footer-left">
            <img class="footer-img" src="images/logo2.png" alt="" srcset="" height="150px">

            <p>Department of Civil and Environmental Engineering <br> IIT Patna</p>

            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>

                <a href="#"><i class="fa fa-twitter"></i></a>

                <a href="#"><i class="fa fa-linkedin"></i></a>

                <a href="#"><i class="fa fa-instagram"></i></a>

            </div>

        </div>


        <div class="col-xs-6 footer-right">
            <p>
            <nav>
                <ul>
                    <li id="footer-ind-links"><a href="#">Home</a></li>
                    <li id="footer-ind-links"> <a href="#">Events</a></li>
                    <li id="footer-ind-links"> <a href="#">Be A CA</a></li>
                    <li id="footer-ind-links"> <a href="#">Register</a></li>
                    <li id="footer-ind-links"> <a href="#">Faq</a></li>
                    <li id="footer-ind-links"> <a href="#">Contact</a></li>
                </ul>
            </nav>
            </p>
        </div>

    </footer> -->
    <footer id="footer" class="white-section" style="background-color: white;">

        <!-- <i class="fab fa-twitter fottercon"></i> -->
        <a href="https://www.linkedin.com/company/ace-iit-patna/" target="_blank"><i class="fa fa-linkedin fottercon"></i></a>
        <a href="https://www.facebook.com/ACE.IITP/"><i class="fa fa-facebook fottercon"></i></a>
        <a href="https://www.instagram.com/ace_iitp/" target="_blank"><i class="fa fa-instagram fottercon"></i></a>        
        <a href="mailto: ace@iitp.ac.in"><i class="fa fa-envelope fottercon"></i></a>
        <p>Copyright ©2022 Samnivesha | ACE | IIT Patna</p>

    </footer>



</body>

</html>