<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Samnivesha is the annual Technical fest of the Department of Civil and Environmental Engineering (DCEE) at IIT Patna.">
  <meta name="author" content="Samnivesha '22">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Samnivesha 2022 | The Annual Fest of Civil Engineering | IIT Patna | EVENTS</title>
  <!-- AOS  -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/style2.css">

  <!-- google fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- font awesome kit -->

  <script src="https://kit.fontawesome.com/edb4e8128d.js" crossorigin="anonymous"></script>



  <!-- bootstrap default javascript -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
  <!-- navbar -->
  <%- include("navbar") -%>
  <div class="lnr-3">
    <h1>GUEST LECTURE</h1>
  </div>
  <div class="lnr_2">
      <p>IT WILL BE UPDATED SOON!</p>
  </div>
  <!-- Guest SECTION -->
    <!-- <div class="ln">
        <h1>Guest Lecture</h1>
    </div>
    <div class="on">
        <div class="on-1" data-aos="flip-right">
            <div class="on-1-1">
                <h2> Lorem Epsum</h2>
            </div>

        </div>
        <div class="on-2"data-aos="flip-left">
            <div class="on-1-1 on-2-1">
                <h2> Lorem Epsum</h2>
            </div>

        </div>

    </div> -->
    <!-- cards 3-4 -->
    <!-- <div class="on">
        <div class="on-3" data-aos="fade-out">
            <div class="on-1-1">
                <h2> Lorem Epsum</h2>
            </div>

        </div>
        <div class="on-4" data-aos="fade-in">
            <div class="on-1-1 on-2-1">
                <h2> Lorem Epsum</h2>
            </div>

        </div>

    </div> -->
    <%-include("footer")-%>





    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
           AOS.init({
               offset:200,
               duration:1000,
           });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
        <script src="js/navbar.js"></script>


</body>
</html>
