body {
    /* background-image: url("https://cdn.cbeditz.com/cbeditz/preview/black-event-powerpoint-background-download-hq-116244808299vxnznlvzv.jpg"); */
    /* background-image: linear-gradient(black,grey,white);
  */
     background-color: rgb(20, 18, 18); 
    cursor: default;
    font-family:'Acme', sans-serif;
}

.instruction {
    margin-top: 50px;
    /* background-color: #ced3e7; */
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    border-radius: 50px;
    background-color:#1f2325;
}
.price-text{
  color: white;
  margin-right: 30px;
}

.instruction ul li {
    list-style-type: none;
    font-size: 19px;
    letter-spacing: 1.7x;
}

a {
    font-weight: bolder;
    text-decoration: none;
}


.text {
    font-size: 25px;
    padding: 5px;
    color: grey;
}

.head {
    margin: 50px 0;
    color: white;

}

.head h1 {
    font-size: 45px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 2.5px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.title {
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 52px;
    margin-bottom: 23px;
    letter-spacing: 1.3px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 150px;
}

.row {
    margin: 0;
    background-color: rgb(20, 18, 18); 
}

.col {
    padding-bottom: 20px;
}

.form {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 55%;
    padding-left: 15px;
    height: 90vh;
}

.form-control {
    background-color: rgb(20, 18, 18);
    border: 0;
    margin-bottom: 25px;
    padding-top: 0;
    border-bottom: 2px solid white;
    color: white;
    letter-spacing: 2px;

}

.form-control:hover {
    color: white;
    border-bottom: blue;
    border-top: 0;
    background-color: rgb(54, 47, 114);

}

label {
    color: white;
    letter-spacing: 2.3px;
    margin-bottom: 0 !important;
}

input {
    border: none;
}


.image {
    width: 90%;
    background-size: cover;
    margin-left: 23px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 65%;
}

.reg-btn {
    border-radius: 5px;
    width: 40%;
    position: relative;
    left: 30%;
    margin-top: 50px;
}

.img-col {
    padding: 0;
}

.img {
    width: 100%;
}

h3 {
    text-align: center;
    margin-top: 25px;
}

.Payment {
     
    /* background-image: url("https://i.pinimg.com/736x/63/d6/a7/63d6a725e5f8bcf1692466560f9dba10--free-black-all-black.jpg"); */
    background-color: #1f2325;
    color: white;
    margin: 50px 0;
    /* height:500px; */
    position: relative;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    padding-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 25px;
}

.payment h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pay-btn {
    margin-top: 30px;
    margin-bottom: 20px;
    border-width: 0;
    background-color: rgb(218, 218, 218);
}

.pay-btn:hover {
    background-color: white;
}

a {
    color: #1f2325;
}

a:hover {
    color: #1f2325;
}

.bylink {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    letter-spacing: 1.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.col-md-6 p {
    max-width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: justify;
}

.bybarcode {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bybarcode h3 {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.3px;
}

.qrcode {
    margin: auto;
    border-radius: 10px;
    height: 400px;
    width: 90%;
}

@media(max-width: 768) {
    .img-col {
        width: 100%;
    }
}
